// Colors
$blue: #56CCF2;
$gray: #BDBDBD;
$green: #27AE60;
$red: #EB5757;
$white: #FFFFFF;
$yellow: #F2C94C;

$btn-disabled: #AEBCC0;

// Fonts
 @import url('https://fonts.googleapis.com/css?family=Roboto:500');
$font-roboto: 'Roboto', sans-serif;

$b-radius: 4px;
$btn-hover: 10%;
$card-size: 105px;
