// Colors
$yellow: #F2C94C;
$red: #EB5757;
$blue: #56CCF2;
$white: #FFFFFF;
$gray: #BDBDBD;

// Fonts
 @import url('https://fonts.googleapis.com/css?family=Roboto:500');
$font-roboto: 'Roboto', sans-serif;

$b-radius: 4px;
$card-size: 75px;
