@import 'variables';

.App {
  display: flex;
  flex-direction: column;
}

body {
   font-family: $font-roboto;
 }

.card {
  border-radius: $b-radius;
  font-size: 64px;
  margin: 5px;
  text-align: center;
  width: $card-size;
  height: $card-size;

  display: flex;
}

button {
  background: $blue;
  border-radius: $b-radius;
  border: none;
  color: $white;
  font-family: $font-roboto;
  font-size: 18px;
  height: 50px;
  margin-bottom: 6px;
  margin-right: 5px;
  transitions: 2s;
  width: 150px;

  &:hover {
    background: darken($blue, $btn-hover);
  }

  &:disabled {
    background: $btn-disabled;
  }
}
