@import 'variables';

body {
   font-family: $font-roboto;
 }

.card {
  border-radius: $b-radius;
  font-size: 64px;
  margin: 5px;
  text-align: center;
  width: $card-size;
  height: $card-size;
}

button {
  border-radius: $b-radius;
  font-family: $font-roboto;
  font-size: 18px;
  color: $white;
  background: $blue;
  border: none;
  height: 35px;
  width: 150px;
  margin-bottom: 6px;
}
