@import 'variables';

.farm-cards-wrapper {
  padding: 10px;

  display: flex;
  justify-content: space-between;

  .farm-cards {
    display: flex;
    flex-direction: row;
  }

  .farm-controls {
    display: flex;
    flex-direction: row;
  }

  .farm-controls-buttons {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
  }
}

.card.farm {
  background: $yellow;

  align-items: center;
  justify-content: center;

  &.peek {
    background: $white;
    box-sizing: border-box;
    border: 4px $yellow dashed;
    margin-right: 30px;
  }

  &.hidden {
    display: none;
  }
}
