@import 'variables';

.road-cards-wrapper {
  padding: 10px;

  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;

  .road-cards {
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;

    div {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  .road-controls {
    padding-top: 5px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

button.new-game {
  background: $red;
}

.card.road {
  background: $gray;
  font-size: 36px; 
  padding-left: 5px;
  width: $card-size - 5px;

  &.yellow {
    background: $yellow;
  }

  &.hidden {
    display: none;
  }
}
