@import 'variables';

.road-cards-wrapper {
  padding: 10px;

  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;

  .road-cards {
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;

    div {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  .road-controls {
    padding-top: 5px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

button.new-game {
  background: $green;
}

.card.road {
  background: $gray;
  font-size: 36px; 

  &.yellow {
    background: $yellow;
  }

  &.hidden {
    display: none;
  }

  span {
    position: absolute;
    padding-left: 6px;
  }

  .img-wrapper {
    width: $card-size;
  }

  img {
    margin-top: -1px;
  }

  .one {
    align-self: flex-start;
    margin-top: 0.5px;
    transform: rotate(90deg);
  }

  .two {
    align-self: flex-start;
    margin-left: $card-size/2 - 5px;
    margin-top: 0.5px;
    transform: rotate(180deg);
  }

  .three {
    align-self: flex-end;
    margin-left: $card-size/2 - 5px;
    transform: rotate(-90deg);
  }

  .four {
    align-self: flex-end;
  }

  .five {
    margin-left: $card-size/2 - 6px;
    transform: rotate(90deg);
  }

  .six {
    margin-left: $card-size/2 - 5px;
  }
}
